*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: black;
}

#main-container
{
  height:100vh;
  background: linear-gradient(to top right , #2C2E43 50% , #B2B1B9 50%); 
}
#heads
{
  text-align: center;
  font-size:30px ;
  width:40%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  font-family: 'Indie Flower', cursive;
  display: flex;

  justify-content: center;
  
  align-items: center;
  background: linear-gradient(#F5E79D 50% ,#E5FBB8 );
}
#two-parts
{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  height:500px;
  margin-top: 30px;
}
#cards
{
  flex:40%;
  min-height: 500px;
  /* background-color: burlywood; */

}
#table
{
  flex:60%;
  min-height: 500px;
  /* background-color:crimson; */
  /* background: transparent; */

}
.formDetails
{
  width:80%;
  height:400px;
  background:rgba(0, 0, 0, 0.2);
  /* opacity:0.4; */
  margin:30px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:center;
  border-radius: 15px 50px;
}
label
{
  display: inline-block;
  width: 140px;
  text-align: right;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  /* color:whitesmoke; */
  color: white;
}
input
{
  margin-top: 5px;
  margin-bottom: 5px;
  display:inline-block;
  *display: inline;     
  zoom:1;              
  vertical-align:middle;
  margin-left:20px;
  font-size: 20px;
  /* border:none; */
  outline:none;
  border:4px outset grey;
  height:50px;
  border-radius:25px;
 text-indent: 5%;
  font-family: 'Roboto', sans-serif;
  
 

}

button  {
	cursor: pointer;
	position: relative;
	padding: 0.5rem 3.5rem;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 2rem;
	font-weight: 600;
  margin-left:50%;
  transform: translate(-50%);
  top:40px;
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

button span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

button::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

button::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}
.fa-trash
{
  font-size: 30px;
  margin-right: 25px;

}
.fa-edit
{
  font-size: 30px;

}
.background
{
  background:rgba(8, 32, 50, 0.7);
}









